// How to install SASS :
// https://www.jetbrains.com/help/idea/transpiling-sass-less-and-scss-to-css.html#ws_sass_less_scss_syntax_highlighting

// How to setup php project for intelliJ : https://www.jetbrains.com/help/idea/php-specific-guidelines.html

// Icons : https://freeicons.io/


$pip-boy-background-color: #10170f;
$pip-boy-primary-color: #18dc0c;
$pip-boy-secondary-color: #11291b;

$header-width: 37.8; //rem
$health-gauge-width: 3.8; //rem
$vault-boy-img-width: 10.5; //rem

$health-gauge-top: 8; //rem
$health-gauges-vertical-offset: 6; //rem

@mixin relative-center-element($parent-width, $element-width) {
  margin-left: ((($parent-width*1rem)/2) - (($element-width*1rem)/2));
  width: $element-width*1rem;
}

*,
*::after,
*::before {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1 rem = 10 px
  font-size: 62.5%; // 10px app / 16px default browser
}

html, body {
  overflow: hidden;
}

@font-face {
  font-family: ShareTechMono;
  src: url("../font/share_tech_mono/ShareTechMono-Regular.ttf");
}

@font-face {
  font-family: Monofonto;
  src: url("../font/monofonto/monofonto.ttf");
}

body {
  background: $pip-boy-background-color url("../img/pip-boy_overlay.png") no-repeat fixed top left;
  box-sizing: border-box;
}

.screen {
  margin: 15rem 26rem;
  position: relative;
  width: 58rem;
  height: 48rem;
}

.screen-reflection {
  background: linear-gradient(150deg, #fff, rgba(0, 0, 0, 0));
  opacity: 0.07;
  width: 53rem;
  height: 43rem;
  position: absolute;
  margin: -2rem 0 0 2.2rem;
  border-radius: 7rem;
}

header {
  font-family: "Monofonto", serif;
  text-transform: uppercase;
  width: $header-width * 1rem;
  position: relative;
}

.header, .stat-status-section {
  margin-left: 10rem;
}

.tabs ul, .sub-tabs ul {
  display: flex;
  align-items: center;
}

.header {
  margin-top: 19rem;
}

.tabs ul li > a, .sub-tabs ul li > a {
  font-size: 2.2rem;
  color: $pip-boy-primary-color;
}

.tabs ul li > a {
  font-weight: bold;
  margin-right: 4rem;
}

.sub-tabs ul li > a {
  margin-right: 0.8rem;
}

/* header lines ------------------------------------------------------------------------------------------------------*/
.header-lines {
  display: flex;
  flex-direction: row;
  opacity: 0.8;
}

.header-line-bottom {
  position: fixed;
  border-bottom: 0.2rem solid $pip-boy-primary-color;
  padding-bottom: 0.2rem;
}

.header-line-bottom-left {
  margin-left: -5.7rem;
  width: 4.7rem;
}

.header-line-bottom-right {
  margin-left: 5.6rem;
  width: 37.5rem;
}

.header-line-vertical {
  border-left: 0.2rem solid $pip-boy-primary-color;
  height: 2.3rem;
  bottom: 3.4rem;
  position: absolute;
}

.header-line-vertical-left {
  left: -1rem;
}

.header-line-vertical-right {
  left: 5.58rem;
}

.header-line-hook {
  border-bottom: 0.2rem solid $pip-boy-primary-color;
  position: absolute;
  width: 0.7rem;
  margin-top: -2rem;
}

.header-line-hook-left {
  margin-left: -1rem;
}

.header-line-hook-right {
  margin-left: 5.1rem;
}
/* header lines END --------------------------------------------------------------------------------------------------*/

.sub-tabs {
  margin-top: 1rem;
}

.sub-tabs > a {
  font-weight: lighter;
  margin-right: 1rem;
}

.sub-header-active-tab {
  opacity: 0.8;
}

.sub-header-inactive-tab-near {
  opacity: 0.5;
}

.sub-header-inactive-tab-far {
  opacity: 0.2;
}


#vault-boy-walking {
  position: absolute;
  @include relative-center-element($header-width, $vault-boy-img-width);
  margin-top: 1rem;
}

/* health gauges -----------------------------------------------------------------------------------------------------*/
.health-gauge-container {
  margin-top: 2rem;
  height: 21rem;
  width: $header-width;
}

.health-gauge {
  border: 0.1rem solid $pip-boy-primary-color;
  background: $pip-boy-background-color;
  width: $health-gauge-width * 1rem;
  height: 0.8rem;
  position: absolute;
}

.health-gauge-top, .health-gauge-bottom {
  @include relative-center-element($header-width, $health-gauge-width);
}

.health-gauge-top {
  top: $health-gauge-top*1rem;
}

.health-gauge-bottom {
  top: $health-gauge-top*1rem + $health-gauges-vertical-offset*3*1rem - 1rem;
}

.health-gauge-left-top, .health-gauge-left-bottom {
  margin-left : (($header-width*1rem) / 4) - $health-gauge-width;
}

.health-gauge-left-top, .health-gauge-right-top {
  top: $health-gauge-top*1rem + $health-gauges-vertical-offset*1rem;
}

.health-gauge-left-bottom, .health-gauge-right-bottom {
  top: $health-gauge-top*1rem + $health-gauges-vertical-offset*2*1rem;
}

.health-gauge-right-top, .health-gauge-right-bottom {
  margin-left : ($header-width*1rem) - ($health-gauge-width *2);
}

.health-gauge-top::before,
.health-gauge-right-top::before,
.health-gauge-left-bottom::before,
.health-gauge-right-bottom::before {
  content: '';
  border: 0.1rem solid $pip-boy-primary-color;
  background: $pip-boy-primary-color;
  width: ($health-gauge-width * 1rem) * 0.95;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-left-top::before {
  content: '';
  border: 0.1rem solid $pip-boy-primary-color;
  background: $pip-boy-primary-color;
  width: ($health-gauge-width * 1rem) * 0.4;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-bottom::before {
  content: '';
  border: 0.1rem solid $pip-boy-primary-color;
  background: $pip-boy-primary-color;
  width: ($health-gauge-width * 1rem) * 0.6;
  height: 0.7rem;
  position: absolute;
}
/* health gauges END -------------------------------------------------------------------------------------------------*/

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $header-width*1rem;
  margin-top: -2rem;
}

.info-icon-web, .info-icon-engineering {
  margin-left: 1rem;
}

.info-icon {
  background-color: $pip-boy-secondary-color;
  margin-right: 0.4rem;
}

.info-icon > p {
  color: $pip-boy-primary-color;
}

.info-icon-large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
}

.info-icon-thin {
  width: 2.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.info-icon-large > img {
  width: 4rem;
  height: 4rem;
}

.info-icon-thin > img {
  width: 2rem;
  height: 2rem;
}

.info-icon-thin > p {
  font-family: "Monofonto", serif;
  font-size: 1.6rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.identity-container > p {
  font-family: "Monofonto", serif;
  font-size: 1.4rem;
  color: $pip-boy-primary-color;
  text-align: center;
  width: $header-width*1rem;
  margin: 1rem 0 1rem 0;
}

.bottom-display {
  display: flex;
  justify-content: center;
  margin-left: 7rem;
  width: 43rem;
}

.bottom-display p {
  font-family: "Monofonto", serif;
  font-size: 2rem;
  color: $pip-boy-primary-color;
}

.side-bottom-display, .center-bottom-display {
  background-color: $pip-boy-secondary-color;
  width: 11rem;
}

.center-bottom-display {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 20rem;
}

.level-progress-bar {
  border: 0.1rem solid $pip-boy-primary-color;
  background-color: $pip-boy-background-color;
  width: 9rem;
  height: 1.2rem;
  margin-left: 1rem;
}

.level-progress-bar::before {
  content: '';
  display: block;
  border: 0.1rem solid $pip-boy-primary-color;
  background-color: $pip-boy-primary-color;
  width: 6.3rem;
  height: 1.1rem;
}

.hp-container {
  margin-right: 0.4rem;
  padding-left: 0.5rem;
}

.action-points-container {
  text-align: right;
  margin-left: 0.4rem;
  padding-right: 0.5rem;
}







