:root {
  --pip-boy-primary-color: #18dc0c;
  --pip-boy-secondary-color: #11291b;
  --pip-boy-background-color: #10170f;
}

// 1 rem = 10 px
$font-size: 62.5%; // 10px app / 16px default browser

$overlay-width: 1380px; //rem
$header-line-width: 509px; //rem

$responsive-width-breakpoints : (1370px: 0.9, 1230px: 0.8, 1100px: 0.7, 960px: 0.6, 820px: 0.5, 690px: 0.4);

$header-width: 37.8; //rem
$health-gauge-width: 3.8; //rem
$vault-boy-img-width: 10.5; //rem

$health-gauge-top: 8; //rem
$health-gauges-vertical-offset: 6; //rem

$sub-header-tabs-opacity-values: 0.8, 0.5, 0.2; //rem