.screen {
  margin: 0 26rem;
  position: relative;
  width: 58rem;
  height: 48rem;
}

.screen-reflection {
  background: linear-gradient(150deg, #fff, rgba(0, 0, 0, 0));
  opacity: 0.07;
  width: 53rem;
  height: 43rem;
  position: absolute;
  margin: -2rem 0 0 2.2rem;
  border-radius: 7rem;
  z-index: -2;
}

.cores-display {
  min-height: 28rem;
}

.core-display {
  display: none; //only the .section-active should be displayed
}


.core-display-active {
  display: block;
  margin-left: 10rem;
  max-width: 37.8rem;
}
