.header-lines {
  position: relative;
  display: flex;
  flex-direction: row;
  top: -2.7rem;
  opacity: 0.8;
  z-index: -3;
  filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#header-line-before {
  position: absolute;
  left: -51.5rem;
}

#header-line-after {
  position: absolute;
  left: 5rem;
}