// How to install SASS :
// https://www.jetbrains.com/help/idea/transpiling-sass-less-and-scss-to-css.html#ws_sass_less_scss_syntax_highlighting


$site_background_color : #10170f;
$pip-boy-default_color: rgb(18,255,21);

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ShareTechMono;
    src: url("../pip_boy_pure_css/font/share_tech_mono/ShareTechMono-Regular.ttf");
}

@font-face {
    font-family: Monofonto;
    src: url("../pip_boy_pure_css/font/monofonto/monofonto.ttf");
}

body {
    background: $site_background_color url("img/pip-boy_overlay.png") no-repeat fixed top left;
}

.screen {
    margin-top: 200px;
    margin-left: 310px;
}

header > a {
    font-family: "Monofonto", serif;
    font-size: 1.4em;
    color: $pip-boy-default_color;
    margin-left: 40px;
}
