@use "../abstracts/variables" as v;
@use "../abstracts/mixins";

.health-gauge-container {
  margin-top: 2rem;
  height: 21rem;
  width: v.$header-width;
}

.health-gauge {
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-background-color);
  width: v.$health-gauge-width * 1rem;
  height: 0.9rem;
  position: absolute;
}

.health-gauge-top,
.health-gauge-bottom {
  @include mixins.relative-center-element(v.$header-width, v.$health-gauge-width);
}

.health-gauge-top {
  top: v.$health-gauge-top*1rem;
}

.health-gauge-bottom {
  top: v.$health-gauge-top*1rem + v.$health-gauges-vertical-offset*3*1rem - 1rem;
}

.health-gauge-left-top,
.health-gauge-left-bottom {
  margin-left : ((v.$header-width*1rem) / 4) - v.$health-gauge-width;
}

.health-gauge-left-top,
.health-gauge-right-top {
  top: v.$health-gauge-top*1rem + v.$health-gauges-vertical-offset*1rem;
}

.health-gauge-left-bottom,
.health-gauge-right-bottom {
  top: v.$health-gauge-top*1rem + v.$health-gauges-vertical-offset*2*1rem;
}

.health-gauge-right-top,
.health-gauge-right-bottom {
  margin-left : (v.$header-width*1rem) - (v.$health-gauge-width *2);
}

.health-gauge-top::before,
.health-gauge-right-top::before,
.health-gauge-left-bottom::before,
.health-gauge-right-bottom::before {
  content: '';
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: (v.$health-gauge-width * 1rem) * 0.95;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-left-top::before {
  content: '';
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: (v.$health-gauge-width * 1rem) * 0.4;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-bottom::before {
  content: '';
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: (v.$health-gauge-width * 1rem) * 0.6;
  height: 0.7rem;
  position: absolute;
}