@use "../abstracts/variables" as v;

*,
*::after,
*::before {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: v.$font-size;
}

html, body {
  overflow: hidden;
}

body {
  background: var(--pip-boy-background-color) url("../../img/pip-boy_overlay.png") no-repeat fixed top left;
  box-sizing: border-box;
}

/** RESPONSIVE ********************************************************************************************************/
@each $breakpoint, $factor in v.$responsive-width-breakpoints {
  @media screen and (max-width: $breakpoint) {
    html {
      font-size: v.$font-size * $factor;
    }
    body {
      background-size: v.$background-width * $factor;
    }
  }
}

@media screen and (max-height: 740px), screen and (max-width: 340px) {
  .screen {
    display: none;
  }
}

