@font-face {
  font-family: ShareTechMono;
  src: url("../font/share_tech_mono/ShareTechMono-Regular.ttf");
}

@font-face {
  font-family: Monofonto;
  src: url("../font/monofonto/monofonto.ttf");
}

header, p {
  font-family: "Monofonto", serif;
}