@font-face {
  font-family: ShareTechMono;
  //src: url("../font/share_tech_mono/ShareTechMono-Regular.ttf");
  src: url("../../font/share_tech_mono/ShareTechMono-Regular.ttf");
}

@font-face {
  font-family: Monofonto;
  src: url("../../font/monofonto/monofonto.ttf");
}

header, p {
  font-family: "Monofonto", serif;
}

#perk-attribute-description-nerd_rage {
  font-size: 0.4rem;
}

p {
  color: var(--pip-boy-primary-color);
}