.map-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 28rem;
}

#idf-map {
  top: -2rem;
  position: absolute;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
  max-width: 90%;
  z-index: -4;
}